<% provide(:title, "About") %>
<h1>Hanoi Bicycle Corner</h1>
<p>Bikes and Acessories Store</p>
<p>Join us and you'll get more fun!</p>
<a href="https://www.facebook.com/hbc.bike">facebook.com/hbc.bike</a>
