<% provide(:title, "Products") %>
<h1>Products</h1>

<ul class="products">
  <% @products.each do |product| %>
    <li>
      <%= link_to image_tag(product.image.url(:thumb)), product %>
      <div><%= link_to product.name, product %></div>
      <div>Price: <%= number_to_currency(product.price, unit: "VND") %></div>
    </li>
  <% end %>
</ul>

<%= will_paginate %>